# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Streamlit
.streamlit/
*.log

# Excel & Word (file upload user)
*.xlsx
*.xls
*.xlsm
*.docx
!contoh_rab.xlsx
!template_surat.docx

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp

# AKA specific
C:/aka/uploads/
*.BA_AKA_*.xlsx
Surat_*.docx